@font-face{
  font-family: SpaceGrotesk-Bold;
  src: url(fonts/SpaceGrotesk-Bold.ttf);
}
@font-face{
  font-family: SpaceGrotesk-Light;
  src: url(fonts/SpaceGrotesk-Light.ttf);
}
@font-face{
  font-family: SpaceGrotesk-Medium;
  src: url(fonts/SpaceGrotesk-Medium.ttf);
}
@font-face{
  font-family: SpaceGrotesk-Regular;
  src: url(fonts/SpaceGrotesk-Regular.ttf);
}
@font-face{
  font-family: SpaceGrotesk-SemiBold;
  src: url(fonts/SpaceGrotesk-SemiBold.ttf);
}

:root{
  --bluegreen: rgb(5, 73, 78);
  --lightaccent: rgb(175, 172, 172);
  --brown: rgb(165, 89, 35);
  --whiteTrans: rgba(255, 255, 255, 0.2);
  --cover: rgba(26, 26, 26, 0.56);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SpaceGrotesk-SemiBold;
  list-style: none;
  text-decoration: none;
}
.container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.flexSpabet{
  display: flex;
  justify-content: space-between;
}
.flexStart{
  display: flex;
  justify-content: flex-start;
}
.flexSpaceEvenly{
  display: flex;
  justify-content: space-evenly;
}
.col{
  flex-direction: column;
}

.inBlock{
  display: inline-block;
}

header{
  position: fixed;
  z-index: 100;
  top:0;
  width: 100dvw;
  /* overflow: visible; */
}

.topHeader{
  background-color: var(--bluegreen);
  overflow: hidden;
  /* width: 100dvw; */
}
.topHeader ul li{
  display: inline-block;
  color: white;
}
.topHeader ul li a{
  display: inline-block;
  color: white;
  padding: 15px 10px;
  & img{
    padding-right: 5px;
    vertical-align: middle;
  }
}
.topHeader ul li:first-child a{
  padding-left: 0;
}
.topHeader ul li:last-child a{
  padding-right: 0;
}
.midHeader{
  background-color: white;
}
#time{
  border-left: 1px var(--lightaccent) solid;
}

#linkedin{
  border-left: 1px var(--lightaccent) solid;
  border-right: 1px var(--lightaccent) solid;
}
#youtube{
  border-right: 1px var(--lightaccent) solid;
}

.left, .right{
  padding: 10px 0;
  & img{
    height: 40px;
  }
}
.right{
  & img{
    display: inline-block;
    height: 30px;
    padding-left: 20px;

  }
  & ul{
    display: inline-block;
    padding-left: 10px;
  } 
  & li{
    color: gray;
  }
  & a{
    color: black;
  }
}
nav{
  background-color: var(--brown);
}

.navLeft{
  padding: 0;
  & li{
    display: inline-block;
    /* width: 100px; */
  }
  & a{
    display: inline-block;
    color: white;
    padding: 20px 10px;
  }
}

.navRight{
  padding:0;
  position: relative;
  padding: 10px;
  & form{
    display: inline-block;
  }
  & input{
    padding: 10px 10px;
    height: 100%;
    overflow: scroll;
    background-color: var(--whiteTrans);
    border: none;
    outline: none;
    color: white;
    &::placeholder{
      color: white;
    }
  }
  & a{
    display: inline-block;
    background-color: var(--whiteTrans);
    padding: 10px 5px 5px 0;
  }
}

#navLinks,#search,.right{
  display: block;
}

.herobg{
  background: linear-gradient(var(--cover), var(--cover)), url(Images/banner.jpg) no-repeat center/cover;
}

.banner{
  /* width: 100dvw; */
  height: 90dvh;
  /* position: relative; */
  margin-top: 100px;
}
.content{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
  max-width: 700px;
}
.content h1, .content p{
  color: white;
}

.content h1{
  font-size: clamp(20px, 60px, 80px);
  font-family: SpaceGrotesk-Bold;
}

.con{
  height: 100%;
}

.conLinks{
  width: 380px;
  padding-top: 30px;
  & a{
    color: white;
    padding: 20px 0;
  }
}
#viewServices{
  display: inline-block;
  padding: 20px 25px;
  background-color: white;
  color: var(--brown);
  /* margin-top: 20px; */
}

#play{
  background-color: var(--brown);
  padding: 20px;
  border-radius: 50%;
  height: 61px;
  width: 61px;
}

.footerCon{
  background-color: var(--bluegreen);
  display: flex;
  justify-content: space-evenly;
  width: 100dvw;
  /* flex-wrap: wrap; */
  overflow: visible;
  /* position: relative; */
}

.footerItem{
  padding: 30px 60px;
  position: relative;
  display: flex;
  /* width: 276px; */
  align-items: center;
  /* border-right: 2px solid white; */
  & img{
    display: inline-block;
    width: 40px;
  }
  & p{
    display: inline-block;
    padding-left: 10px;
    color: white;
  }

  &::after{
    display:  block;
    content: "";
    background-color: white;
    width: 90px;
    height: 2px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 45px;
    right: -35px;
  }
}

.footerItem:last-child{
  &::after{
    content: none;
  }
}

#cross,#ham{
  display: none;
  color: white;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 2rem;
  background-color: var(--brown);
  cursor: pointer;
}
.rbtn{
  width: 100dvw;
  height: 4rem;
  display: none;
}

#caret{
  display: none;
  color: white;
  font-size: 2rem;
}

#cup{
  display: none;
}

@media (max-width: 1300px){
  .container{
    width: 90dvw;
  }
  .footerCon{
    flex-direction: column;
    align-items: center;
  }
  .footerItem::after{
    transform: rotate(0deg);
    width: 80dvw;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 1060px){
  .topHeader{
    & .flexSpabet{
      flex-direction: column;
      align-items: center;
    }
  }
  .rHeadUpper{
    width: 500px;
    border-bottom: 1px solid var(--lightaccent);
  }
  .rHeadLower{
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  #linkedin, #youtube{
    border: none;
  }

}

@media (max-width: 809px){
  .midHeader{
    & .flexSpabet{
      flex-direction: column;
      align-items: center;
    }
  }
  .right{
    display: none;
  }
  nav .container > .flexSpabet{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navLinks ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navRight{
    width: 80dvw;
    & form{
      width: 80%;
      & input{
        width: 100%;
      }
    }
    & a{
      width: 20%;
    }
  }
  .rbtn{
    display: block;
  }
  #ham{
    display: block;
  }

  #navLinks, #search{
    display: none;
  }
}

@media (max-width: 520px){
  .content{
    width: 100%;
  }
  .conLinks{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #viewServices{
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }
  .rHeadUpper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: none; */
  }
  .rHeadLower{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  #facebook{
    padding: 20px 10px;
  }
  #twitter{
    padding: 20px 10px;
  }
  #time{
    border: none;
    padding-left: 0;
  }

  .topHeader{
    height: 140px;
  }

  #caret{
    display: block;
    cursor: pointer;
  }
}


@media (max-width: 809px) and (min-height: 300px){
  .banner{
    margin-top: 40dvh;
  }
}
@media (max-width: 809px) and (min-height: 769px){
  .banner{
    margin-top: 30dvh;
  }
}
@media (max-width: 809px) and (min-height: 900px){
  .banner{
    margin-top: 20dvh;
  }
}

@media (min-height: 983px){
  .banner{
    margin-top: 0;
  }
}